/* general */
html {
	height: 100%;
}

fieldset {
	margin: 0;
}

input {
	font-size: 12px;	
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	padding: 2px;
}
/* RF Overwrite */
.rf-msg-err {
	color: red;
}

/* jQuery */
.ui-default-state { padding: .5em 1em; cursor: pointer; }

/* the nice_box */
.nice_box {
	width: 500px;
	border-collapse: collapse;
}

td.nice_box {
	border: thin dashed;
	border-color: #BDBDBD;
	padding: 5px 10px 5px 70px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	height: 60px;
}

.one {
	background: url(#{request.contextPath}/resources/gfx/one.png) no-repeat;
	background-position: 10px 5px;
}

.NOT_OK {
	background: url(#{request.contextPath}/resources/gfx/two.png) no-repeat;
	background-position: 10px 5px;
	background-color: #FA5858;
	color: #FFFFFF;
}

.UNKNOWN {
	background: url(#{request.contextPath}/resources/gfx/three.png)
		no-repeat;
	background-position: 10px 5px;
	background-color: #F2F2F2;
	opacity: 0.7;
}

.OK {
	background: url(#{request.contextPath}/resources/gfx/four.png) no-repeat;
	background-position: 10px 5px;
	background-color: #9FF781;
}

.UNREACHABLE {
	background: url(#{request.contextPath}/resources/gfx/five.png) no-repeat;
	background-position: 10px 5px;
	background-color: #FFBF00;
}

/* boostrap override
*******************************************************************************/
input:focus, textarea:focus {
  border-color: rgba(254, 154, 64, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(254, 154, 64, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(254, 154, 64, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(254, 154, 64, 0.6);

}